@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.content {
  background: var(--color-white);
  min-height: calc(100% - 73px - 120px);

  @media (--media-min-small) {
    min-height: calc(100% - 88px - 150px);
  }
}

.footer {
  background-color: #FBECD7;
}

.socialIconList {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}

.socialIconList__Item {
  margin-right: 2.75rem;
}

.footer hr {
  border-bottom: 4px solid black;
}

.footerWrapper {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 1.5em;
  margin: 0 auto;

  @media (--media-min-small) {
    padding: 2em;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footerColumn {
  flex: 1;
}