/*
 * Responsively sized elements
 */

p, .paragraph {
  font-size: 20px;
  line-height: 34px;
  margin: 0.5rem 0 1rem 0;

}

.blockQuote {
  background: #eee;
}

.responsiveTitle1 {
  font-weight: 900;
  font-size: responsive;
  min-font-size: 44px;
  max-font-size: 60px;
  min-line-height: 42px;
  max-line-height: 71px;
  line-height: 1.1;
  margin: 1rem 0 0;
}

.responsiveTitle2 {
  font-weight: 900;
  font-size: responsive;
  min-font-size: 26px;
  max-font-size: 44px;
  min-line-height: 34px;
  max-line-height: 34px;
  margin: 1.5rem 0 -0.7rem;
}

.responsiveTitle3 {
  font-weight: 900;
  font-size: responsive;
  min-font-size: 20px;
  max-font-size: 26px;
  min-line-height: 34px;
  max-line-height: 34px;

  margin: 2rem 0 0;
}

.responsiveTitle4 {
  font-weight: 900;
  font-size: 20px;
  line-height: 34px;
  margin: 1rem 0 0.5rem;
}
